* {
	box-sizing: border-box;
}
body {
	background-color: #202e39;
	padding: 20px;
	font-family: Arial;
}
h1 {
	font-size: 50px;
	word-break: break-all;
	color: #f8fad2;
	font-family: "Fredericka the Great", "Georgia";
}
h2 {
	font-family: "Fredericka the Great", "Georgia";
	color: #91fdbf;
}
h4 {
	font-family: "Trebuchet MS";
	color: #91fdbf;
}
p, ul, li {
	font-family: Georgia, serif;
	color: #f8fad2;
}
a:link {
  color: #91fdbf;
}
a:visited {
  color: #91fdbf;
}
a:hover {
  color: #b4fdd4;
}
.changelog p {
	padding-left:40px
}
.changelog h3 {
	font-family: Georgia, serif;
	color: #f8fad2;
	font-size:1em;
}



/* ================================================= */
/*        Style the sort buttons + pack photos       */
/*                                                   */
/* ================================================= */
.main {
	max-width: 1400px;
	margin: auto;
}
.row {
	margin: 10px -16px;
	/* display: flex; */
}
.row, .row > .column { /* Add padding BETWEEN each column */
	padding: 5px;
}
.column { /* Create equal columns that floats next to each other */
	float: left;
	width: 25%;
	display: none; /* Hide all elements by default */
}
.row:after { /* Clear floats after rows */ 
	/* content: ""; */
	/* display: table; */
	/* clear: both; */
}
.content {
	background-color: #253541;
	padding: 10px;
}
.show { /* The "show" class is added to the filtered elements */
	display: block;
}
.primary, .secondary { /* Style the primary level buttons */
	border: none;
	outline: none;
	padding: 10px 20px;
	background-color: white;
	cursor: pointer;
	font-family: "Trebuchet MS";
}
.primary:hover, .secondary:hover {
	background-color: #ddd;
}
.primary.active, .secondary.active2 {
	background-color: #f1f5a3;
}
img { /* Style the clickable thumbnails */
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 150px; /* Set a small width */
}
img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

 

/* ================================================= */
/*        Style the sort buttons + pack photos       */
/*                                                   */
/* ================================================= */
.main {
	max-width: 1400px;
	margin: auto;
}
.row {
	margin: 10px -16px;
	/* display: flex; */
}
.row, .row > .column { /* Add padding BETWEEN each column */
	padding: 5px;
}
.column { /* Create equal columns that floats next to each other */
	float: left;
	width: 25%;
	display: none; /* Hide all elements by default */
}
.row:after { /* Clear floats after rows */ 
	/* content: ""; */
	/* display: table; */
	/* clear: both; */
}
.content {
	background-color: #253541;
	padding: 10px;
}
.show { /* The "show" class is added to the filtered elements */
	display: block;
}
.primary, .secondary { /* Style the primary level buttons */
	border: none;
	outline: none;
	padding: 10px 20px;
	background-color: white;
	cursor: pointer;
	font-family: "Trebuchet MS";
}
.primary:hover, .secondary:hover {
	background-color: #ddd;
}
.primary.active, .secondary.active2 {
	background-color: #f1f5a3;
}
img { /* Style the clickable thumbnails */
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 150px; /* Set a small width */
}
img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



/* ================================================= */
/*             Style main selection tab              */
/* https://www.w3schools.com/howto/howto_js_tabs.asp */
/* ================================================= */
.tab {  /* Style the tab */
	overflow: hidden;
}
.tab button { /* Style the buttons that are used to open the tab content */
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-family: "Trebuchet MS";
	font-size: 16px;
	background: #fff;
}
.tab button:hover { /* Change background color of buttons on hover */
	background-color: #ddd;
}
.tab button.activeTab { /* Create an active/current tablink class */
	background-color: #f1f5a3;
}
.tabcontent { /* Style the tab content */
	display: none;
	padding: 6px 12px;

}



/* ================================================= */
/*        Style the search box and prop table        */
/*                                                   */
/* ================================================= */
#SearchTableByName {
	background-image: url('_searchicon.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 35%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 2px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
	font-family: "Trebuchet MS";
}
#ContentTable {
	border-collapse: collapse; /* Collapse borders */
	width: 100%;
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 12px; /* Increase font-size */
	font-family: "Trebuchet MS";
}
#ContentTable th {
	text-align: left;
	padding: 8px;
}
#ContentTable tr, td {
	padding: 8px;
	color: #f8fad2;
	border-bottom: 1px solid #ddd;
}
#ContentTable tr:hover {
	background-color: #121a21;
}
#ContentTable tr.header {
	background-color: #f1f1f1;
	font-size: 16px;
	color: #000;
}



/* ================================================= */
/*          Style the HD props toggle switch         */
/*                                                   */
/* ================================================= */
 /* .switch { /* The switch - the box around the slider */ */
	/* position: relative; */
	/* display: inline-block; */
	/* width: 50px; */
	/* height: 24px; */
/* } */
/* .switch input { /* Hide default HTML checkbox */ */
	/* opacity: 0; */
	/* width: 0; */
	/* height: 0; */
/* } */
/* .slider { /* The slider */ */
	/* position: absolute; */
	/* cursor: pointer; */
	/* top: 0; */
	/* left: 0; */
	/* right: 0; */
	/* bottom: 0; */
	/* background-color: #ccc; */
	/* -webkit-transition: .1s; */
	/* transition: .1s; */
/* } */
/* .slider:before { */
	/* position: absolute; */
	/* content: ""; */
	/* height: 16px; */
	/* width: 16px; */
	/* left: 4px; */
	/* bottom: 4px; */
	/* background-color: white; */
	/* -webkit-transition: .1s; */
	/* transition: .1s; */
/* } */
/* input:checked + .slider { */
	/* background-color: #2196F3; */
/* } */
/* input:focus + .slider { */
	/* box-shadow: 0 0 1px #2196F3; */
/* } */
/* input:checked + .slider:before { */
	/* -webkit-transform: translateX(26px); */
	/* -ms-transform: translateX(26px); */
	/* transform: translateX(26px); */
/* } */