#activity-chart {
    display: grid;
    grid-template-columns: repeat(75, 15px);
    grid-auto-rows: 1fr;
    gap: 4px;
    max-width: 100%;
}

@media (max-width: 1500px) {
    #activity-chart {
        grid-template-columns: repeat(auto-fit, 15px);
    }
}

.square {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 2px;
    background-color: #e2e5e9;
    cursor: pointer;
    padding: 0;
}

.square:hover {
    outline: 2px solid #333;
}