.tag {
    display: inline-flex;
    align-items: center;
    background-color: var(--pico-form-element-background-color);
    border: 1px solid var(--pico-form-element-border-color);
    font-size: 0.8em;
    border-radius: 2em;
    padding: 2px 12px;
    margin-right: 4px;
    color: var(--pico-color);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: default;
}

.tag:not(.disabled):hover {
    background-color: var(--pico-form-element-hover-background-color);
}

.tag .disabled {
    color: var(--pico-form-element-border-color);
}
