html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}


#ContentTable {
	border-collapse: collapse; /* Collapse borders */
	width: 100%;
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 12px; /* Increase font-size */
	font-family: "Trebuchet MS";
	text-align: left;
}

	#ContentTable th {
		padding: 8px;
	}

	#ContentTable tr, td {
		padding: 8px;
		color: #121a21;
		border-bottom: 1px solid #ddd;
	}

		#ContentTable tr:hover {
			background-color: #f8fad2;
		}

		#ContentTable tr.header {
			background-color: #f1f1f1;
			font-size: 16px;
			color: #000;
		}

#SearchBox {
	width: 30%;
}

#ContentTable {
	border-collapse: collapse; /* Collapse borders */
	width: 100%;
	border: 1px solid #ddd; /* Add a grey border */
	font-size: 12px; /* Increase font-size */
	font-family: "Trebuchet MS";
	text-align: left;
}

#ContentTable th {
	padding: 8px;
}

#ContentTable tr, td {
	padding: 8px;
	color: #121a21;
	border-bottom: 1px solid #ddd;
}

	#ContentTable tr:hover {
		background-color: #f8fad2;
	}

	#ContentTable tr.header {
		background-color: #f1f1f1;
		font-size: 16px;
		color: #000;
	}
