html {
	font-family: "Trebuchet MS";
	font-size: 14px;
	position: relative;
	min-height: 100%;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
	margin-bottom: 60px;
}


datalist {
	display: flex;
	justify-content: space-between;
	width: 200px;
}
option {
	padding: 0;
}

.DarkThumbnail {
	background-color: #202e39;
}

summary { /*Same style as H1*/
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

/*
	================================================
	Styles for Index Page
	================================================
*/
#ContentTable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 12px;
	text-align: left;
}

	#ContentTable th {
		padding: 8px;
		background-color: #e6e6e6;
		font-size: 16px;
		color: #000;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 0;
	}

	#ContentTable tr, td {
		padding: 6px;
		color: #121a21;
		border-bottom: 1px solid #ddd;
	}

		#ContentTable tr:hover {
			background-color: #f8fad2;
		}

#SearchBox {
	width: 30%;
}

/*
	================================================
	Styles for ViewPack Page
	================================================
*/
#InfoTable {
	text-align: center;
	margin: 10px 0px;
}
	#InfoTable th {
		padding: 8px;
		background-color: #e6e6e6;
		font-size: 16px;
		color: #000;
	}

	#InfoTable td {
		padding: 08px;
	}