@page
@model SC4PropTextureCatalog.Pages.AboutModel
@{
}
<h1>About</h1>
<p>Building upon the original the original <a target="_blank" href="https://sc4devotion.com/forums/index.php?board=415.0">Prop & Texture Photo Catalog</a> started in 2011, this work includes all known dependency packs to date. This catalog was assembled and is maintained by nos.17. Assistance was provided from STEX Custodian (Tyberius06), Cyclone Boom, and CorinaMarie.</p>
<p>For additional information, or to reference the online version of this Catalog, visit the <a target="_blank" href="https://community.simtropolis.com/forums/topic/758501-simcity-4-prop-and-texture-catalogue-by-stex-custodian/">SimCity 4 Prop and Texture Catalog</a> thread.</p>
<p>Find an issue? Have a suggestion for improvement? Drop me a PM, drop a message in the Catalog Thread linked above, or open an issue at <a target="_blank" href="https://github.com/noah-severyn/SC4PropTextureCatalog/issues">GitHub</a>.</p>

<h2>How to use:</h2>
<ul>
    <li>To search for items by TGI, Exemplar Name, or Author, or Pack Name, type 3 or more characters in the search box.</li>
</ul>


<div class="main changelog">
    <hr>
    <details>
        <summary>Changelog</summary>

        <h3>v3.0 (Feb 2023)</h3>
        <ul>
            <li>Completely new implementation using a SQLite database and ASP.NET/web UI. The result is dramatically improved performance when filtering the table.</li>
            <li>211 new packs added, for a total of 165k TGIs indexed.</li>
        </ul>
        <hr>

        <h3>v2.2.2 (16 Oct 2021)</h3>
        <ul>
            <li>Updated Grfe_Urbanpack to version B</li>
            <li>Added Grfe_hedge_3m_Ortho + Diag, Jayo-Props, cogeo's LogisticsPack, Mntoes-Prop pack1, PC Mega Props 2, SG_Models_IM2</li>
            <li>Added texture TGIs to TGI search list</li>
        </ul>
        <hr>

        <h3>v2.2.1 (14 Sept 2021)</h3>
        <ul>
            <li>Laid groundwork for HD prop toggle</li>
            <li>Added the following prop + texture packs: A_1P_WindIndustry_ComponentLogistics2, A_1P_beach_set2_props, A_1P_beach_set3_props, BCH Props1, BSC - VIP girafe carpack vol. 1 & 2 remastered, Davide1983it - Trabant601, KK Timed Prop Pack v1-Gizmo, KK_ja-att Restricted Sign Props, Outdoor Set V1, Outdoor Set V2, Playground set, Raymond_VintageCar_Props, SM2 Mega Prop Pack Vol5, TCC - Diagonal Jetways (Singtel),Tatra 603 - Wartburg 353, and cloqloparking.</li>
        </ul>
        <hr>

        <h3>v2.2.0 (21 Mar 2021)</a></h3>
        <ul>
            <li>Added Author column to SearchTable</li>
            <li>Added multiple prop + texture packs by Fantozzi, gizmo28, Mary Maurine Mayo, RebaLynnTS, Oidaas, AP, and more.</li>
        </ul>
        <hr>

        <h3>v2.1.1 (26 Feb 2021)</h3>
        <ul>
            <li>Minor release with some tweaks for hosting at Simtropolis. If you have 2.0.0 there's no need to download again.</li>
        </ul>
        <hr>

        <h3>v2.1.0 (24 Feb 2021)</h3>
        <ul>
            <li>Numerous inconsistencies in file names addressed</li>
            <li>Added girafe flora props, AP sim workers, and misc other missing packs</li>
            <li>Added texture TGIs to searchable list</li>
        </ul>
        <hr>

        <h3>v2.0.0 (06 Feb 2021)</h3>
        <ul>
            <li>Added functionality to search by TGI or name; fixed missing/broken images; improvements to code for optimization</li>
        </ul>
        <hr>

        <h3>v1.0.0 (03 Jan 2021)</h3>
        <ul>
            <li>Initial Release</li>
        </ul>
    </details>
</div>