@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application does not collect any user data. The application is published through the <a href="https://azure.microsoft.com/en-in/products/app-service">Azure App Service</a>, which does collect <i>some</i> data. For more information, see <a href="https://azure.microsoft.com/en-us/explore/trusted-cloud/privacy/">here.</a></p>
